<% @ailments.each do |ailment| %>
  <p><%= ailment.name %></p>
<% end %>

<% if @ailments.any? %>
  <%= collection_select :ailment_id, Ailment.find(:all),{:prompt => 'Please select an ailment'} %>
<% end %>


